{% extends "layout.html" %}

{% block content %}
<body>
  
          <h2>The Classic XSS</h2>
        <h2 class="subs-title text-center">Subscribe now to get Recent updates!!!</h2>
        <div class="subcription-info text-center">
          <form method="GET" action="{{ url_for('hello') }}">
            <div class="form-group">
            <label for="name">Please enter your name:</label>
            <input type="text" class="form-control" name="name" /><br />
          </div>
          <div class="form-group">
            <label for="email">Please enter your email:</label>
            <input type="text" class="form-control" name="email" /><br />
            <input class="btn btn-primary" value="Subscribe!" type="submit" />
          </div>
          </form>
    
</div>
</body>
{% endblock %}
